/* CSS color props */
div {
  /* to change text color */
  color: crimson;

  /* to give give background-color */
  background-color: black;

  /* to give border color */
  /* border: 2px solid; */
  border-width: 2px;
  border-style: double;
  border-color: greenyellow;
}

/* CSS text prop */
p {
  color: aqua;
  text-indent: 50px;
  text-transform: capitalize;
  text-align: justify;
  text-align-last: right;
  text-decoration: underline;
}
h5 {
  text-decoration-line: underline overline;
  text-decoration-style: solid;
}
/* another way of getting over-line using border and display prop */
h4 {
  text-decoration: underline;
  border-top: 2px solid black;
  display: inline;
  text-shadow: 10px 3px 1px red;
}

#xAxis {
  text-shadow: 74px 2px 2px blue;
}
#yAxis {
  text-shadow: 3px 30px 2px red;
}
#blurRatio {
  /* Third parameter is called as 'blur ratio' . More the value, more is blur of text*/
  text-shadow: 3px 3px 5px yellow;
}

article {
  /* Height between lines */
  line-height: 50px;
  /* Space between words */
  word-spacing: 20px;
  /* Space between letters */
  letter-spacing: 5px;
}

/* !CSS Font props */
section {
  font-style: italic;
  color: red;
}
#fontPropEx {
  /* Defines the Size of the font */
  font-size: 40px;
  /* to inherit the parent prop, use 'inherit' .*/
  color: inherit;/* Here the color will be 'red' which is defined in Section tag, a parent for h3 tag*/
  font-style: italic;
  font-family: monospace;
}
