body{
    margin: 0px;
    padding: 0px;
    background-color: aqua;
}

#div-first{
      margin: 20px;
      width: 97.3%;
      height: 250px;
      background-image: url('https://t4.ftcdn.net/jpg/03/54/63/09/360_F_354630979_oNcr1uxV0pqGh0Z0U2ohh5gUl8Rk5TKk.jpg'); /* replace with your image */
      background-size: cover;
      border: 2px;
      border-radius: 1px;
      background-position: center;
      display: flex;
      justify-content: center;
      align-items: center; 
}

#div-first p{
      color: white;
      font-size: 32px;
      font-weight: bold;
      text-shadow: 2px 2px 5px rgba(199, 249, 21, 0.774); /* nice shadow */
    
}

#div-second {
    margin: 20px;
    width: 97.3%;
    height: 400px;
    background-color: rgb(255, 255, 255);
    border: 3px;
    border-radius: 5px;
    text-align: center;
    /* display: flex;
    justify-content: center;
    align-items: center;  */
}

#div-third{
      margin: 20px;
      width: 97.3%;
      height: 250px;
      background-color: blueviolet;
       border: 2px;
      border-radius: 1px;
      background-position: center;
      display: flex;
      justify-content: center;
      align-items: center; 
}
