
list  ul{
    list-style-type: square;
    list-style-image: url("https://www.shutterstock.com/image-vector/beautiful-wallpaper-hd-splash-watercolor-600nw-1731530434.jpg");
}




/* div list ul{


} */